// Screen size variables
$desktop-min: 1280px
$tablet-min: 768px
$phone-min: 320px
    
.row-gap__sections-y
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 200px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 150px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 150px

.row-gap__title-content
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 120px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 80px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 80px


// --------------------- PROJECT SECTION --------------------- //
.section__projects__row-gap__line-spacing
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 80px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 95px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 95px

.section__projects__row-gap__title-image
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 10px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 15px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 15px

.section__projects__col-gap__card-gap
    /**
        DEV NOTE: This should be used on a container with flex flex-col on it
        */
    @media (min-width: $desktop-min)
        column-gap: 10px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        column-gap: 10px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        column-gap: 10px

// --------------------- CONTACT SECTION --------------------- //
.section__projects__row-gap__input-spacing
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 10px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 20px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 20px

.section__projects__row-gap__form-button
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 40px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 40px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 40px

// --------------------- TIME SECTION --------------------- //
.section__time__row-gap__title-timer
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 0px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 0px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 20px

// --------------------- PROCESS SECTION --------------------- //
.section__process__row-gap__title-text
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 40px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 40px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 20px


.section__process__row-gap__text-line
    /**
        DEV NOTE: This should be used on a container with flex flex-row on it
        */
    @media (min-width: $desktop-min)
        row-gap: 64px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 48px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 40px

.hero-lines__row-gap
    @media (min-width: $desktop-min)
        row-gap: 12px

    @media (min-width: $tablet-min) and (max-width: $desktop-min)
        row-gap: 30px

    @media (min-width: $phone-min) and (max-width: $tablet-min)
        row-gap: 12px

// TODO: I think that paddings for different components should be moved to a
// Separate file

