.anim__paragraph
    width: 100% 
    display: flex
    flex-wrap: wrap
    .anim__word
        margin-right: 12px
        margin-top: 12px
        opacity: 0.3

        &:first-child
            margin-right: 48px
            margin-left: 25vw

        &:last-child
            margin-left: 48px

    